<nav>
  <a href="/github-portfolio/index-en.html">
    <img src="/github-portfolio/files/images/me-circle.png" id="photo" alt="Photo" align="right" width="80%"/>
  </a>
  <br clear="all">
  <h2>
    <div id="name">
      <a href="/github-portfolio/index-en.html">{{ site.data.theme.name-en }}</a>
    </div>
  </h2>
  <div id="link">
    Fresh Graduate and IoT Developer<br>
    <div style="line-height: 0.3em"><br></div>
    <div style="line-height: 1.1em">
    Bachelor in Science Computer Science<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <div style="line-height: 1.1em">
    SZABIST - Shaheed Zulfiqar Ali Bhutto Institute of Science and Technology<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <div id="email">
      <a href="mailto:usmanyousuf911@gmail.com">usmanyousuf911@gmail.com</a>
      <a href="mailto:bscs2012358@szabist.pk">bscs2012358@szabist.pk</a>
    </div>
  </div>
  <div id="link">
    <a href="/github-portfolio/files/pdfs/usman-cv.pdf">CV (pdf)</a><br>
  </div>
  <div id="link">
    <div style="font-size: 13px">
      <div style="line-height: 1.3em">
        Karachi, Pakistan
        <div style="line-height: 0.5em"><br></div>
      </div>
      <div style="line-height: 1.3em">
        House no.504, Phase-1, Khuda Ki Basti, Surjani Town, Karachi-07510
      </div>
    </div>
  </div>
  <div id="social">
    {% include social-en.html %}
  </div>
</nav>
