<nav>
  <a href="/index-en.html">
    <img src="/files/images/me-circle.png" id="photo" alt="Photo" align="right" width="80%"/>
  </a>
  <br clear="all">
  <h2>
    <div id="name">
      <a href="/index-en.html">{{ site.data.theme.name-en }}</a>
    </div>
  </h2>
  <div id="link">
    Fresh Graduate<br>
    <div style="line-height: 0.3em"><br></div>
    <div style="line-height: 1.1em">
    Bachelor in Science Computer Science<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <div style="line-height: 1.1em">
    Shaheed Zulfiqar Ali Bhutto Institute of Science and Technology (SZABIST)<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <div id="email">
      <a href="mailto:bscs2012358@szabist.pk">bscs2012358@szabist.pk</a>
    </div>
    <div id="email"></div>
      <a href="usmanyousuf911@gmail.com">usmanyousuf911@gmail.com</a>
    </div>
  </div>
  <div id="link">
    <a href="/files/pdfs/usman-cv.pdf">CV (pdf)</a><br>
  </div>
  <!-- <div id="link">
    <div style="font-size: 13px">
      <div style="line-height: 1.3em">
        xyz
        <div style="line-height: 0.5em"><br></div>
      </div>
      <div style="line-height: 1.3em">
        xyz
      </div>
    </div>
  </div> -->
  <div id="social">
    {% include social-en.html %}
  </div>
</nav>
