<nav>
  <a href="/index-en.html">
    <img src="/files/images/me-circle.png" id="photo" alt="Photo" align="right" width="80%"/>
  </a>
  <br clear="all">
  <h2>
    <div id="name">
      <a href="/index-en.html">{{ site.data.theme.name-en }}</a>
    </div>
  </h2>
  <div id="link">
    Associate Professor<br>
    <div style="line-height: 0.3em"><br></div>
    <div style="line-height: 1.1em">
    Department of Information and Communications Engineering<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <!--
    School of Engineering,<br>
    <-->
    <div style="line-height: 1.1em">
    Tokyo Institute of Technology<br>
    </div>
    <div style="line-height: 0.6em"><br></div>
    <div id="email">
      <a href="mailto:sasaki@ict.e.titech.ac.jp">sasaki@ict.e.titech.ac.jp</a>
    </div>
  </div>
  <div id="link">
    <a href="/publications-en">Publications</a><br>
    <a href="/files/pdfs/sasaki-cv.pdf">CV (pdf)</a><br>
  </div>
  <div id="link">
    <div style="font-size: 13px">
      <div style="line-height: 1.3em">
        Office: Room 519 South Building 3<br>Ookayama Campus
        <div style="line-height: 0.5em"><br></div>
      </div>
      <div style="line-height: 1.3em">
        Mail: 2-12-1 Ookayama S3-69, Meguro-ku, Tokyo 152-8552
      </div>
    </div>
  </div>
  <div id="social">
    {% include social-en.html %}
  </div>
</nav>
