<div id="stalker">
  {% if site.data.theme.social-en.github %}
  <a title="{{ site.data.theme.social-en.github }} on Github" href="https://github.com/{{ site.data.theme.social-en.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social-en.twitter %}
  <a title="{{ site.data.theme.social-en.twitter }} on Twitter" href="https://twitter.com/{{ site.data.theme.social-en.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social-en.linkedin %}
  <a title="{{ site.data.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.data.theme.social-en.linkedin }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}
</div>
